VITE_SUPABASE_URL=https://rzggxxagjddssznybprr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6Z2d4eGFnamRkc3N6bnlicHJyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4Mjc2NjEsImV4cCI6MjA5MDQwMzY2MX0.Kdb7HUt_k63RDmsXuqKCNT-yhnF60h1qCFJWCf6cVwM
